[Unit]
Description=Show boot splash
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /displaydriver/bootsplashdriver.py

[Install]
WantedBy=basic.target